<% if @announcements.is_published? %>
<%= content_tag(:div, cms_block_content(:content, @announcements).html_safe, :class=>"announcements")%>
<%end%>
<%if @wod%>
  <div class="wod_box">
    <div id="workout">Workout
    </div>
    <div id="otd">
      <div id="ot">of the Day</div>
    </div>
    <div class="wod_post">
      <span class="post_title">
      <%="#{link_to(@wod.title, comfy_blog_post_path(@wod.blog.site.path, @wod.blog.path, @wod.slug))}".html_safe%>
      </span>
      <br/>
      <span class="post_content">
        <%=@wod.content.html_safe%>
      </span>
    </div>
  </div>
<%end%>

  <table class="icons">
    <tbody>
      <tr>
        <td><a href="https://www.facebook.com/pages/CrossFit-Baltimore/634102939996107" title="Facebook"><%= image_tag "FB_Icon.svg"%></a></td>
        <td><a href="http://instagram.com/crossfitbaltimore/" title="Instagram"><%= image_tag "Instagram_Icon.svg"%></a></td>
        <td><a href="https://twitter.com/cfbaltimore"><%= image_tag "Twitter_Icon.svg"%></a></td>
      </tr>
    </tbody>
  </table>

<div id="cfj">
  <a href="http://journal.crossfit.com/start.tpl?version=CFJ-white123x63"
     target="_blank"
     title="CrossFit Journal: The Performance-Based Lifestyle Resource">
    <img src="http://journal.crossfit.com/templates/images/white-125x63.png"
         width="125px"
         height="63px"
         alt="CrossFit Journal: The Performance-Based Lifestyle Resource" />
  </a>
</div>

