<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>CrossFit Baltimore</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application"%>
    <%= csrf_meta_tags %>
    <script type="text/javascript">
      $(document).on("touchstart", "#schedule_link", function() {
            window.open('<%=schedule_path%>');
      });
    </script>
  </head>
  <body>
    <%= nav_bar(:responsive=>true) do%>
      <%= menu_group do%>
        <%= menu_item "Home", root_path %>
      <%end%>
      <%= menu_group do %>
        <%if current_user.logged?%>
          <%= drop_down "#{current_user.first} #{current_user.last}" do%>
            <%= menu_item "My Profile", profile_path %>
            <%= menu_item "Logout", logout_path %>
          <%end%>
        <%else%>
          <%= menu_item "Login/Register", signin_path %>
        <%end%>
      <% end %>
      <%= menu_group do%>
        <%= drop_down "About CFB" do %>
          <%= menu_item "Location", "/about" %>
          <%= menu_item "What is CrossFit?", "/about#crossfit" %>
          <%= menu_item "Coaches", "/about#coaches" %>
          <%= menu_item "Events", comfy_events_path %>
          <%= menu_item "Athlete of the Month", comfy_aotms_path %>
        <%end%>
      <%end%>
      <%= menu_group do%>
        <%= drop_down "Start Here" do%>
          <%= menu_item "Get Started", "/start" %>
          <%= menu_item "Fundamentals", "/start#fundamentals"%>
          <%= menu_item "Schedule/Fees", "/start#schedule" %>
        <%end%>
      <%end%>
      <%= menu_group do %>
        <%= menu_item "WODs", comfy_blog_posts_path("","wod") %>
        <%#= drop_down "Blogs" do %>
          <%#= menu_item "Events", comfy_blog_posts_path("", "events") %>
        <%#end%>
      <%end%>
      <%= menu_group do %>
        <%= drop_down "Crossfit Open" do %>
          <%= menu_item "2015 Season", comfy_cms_render_page_url("open/2015-season") %>
        <%end%>
      <%end%>
      <%= menu_group do
        menu_item "Contact Us", "/contact"
      end%>
      <%if current_user.admin?%>
        <%= menu_group do %>
          <%= drop_down "Admin" do %>
            <%= menu_item "Content Manager" , comfy_admin_cms_url %>
            <%= menu_item "MindBody",  "https://clients.mindbodyonline.com/ASP/home.asp?studioid=92604" %>
          <%end%>
        <%end%>
      <%end%>
    <%end%>
    <div class="header">
      <div style="height:75px;text-align:center">
        <%=image_tag "logo2.png", :style=>"max-width:100%;max-height:100%"%>
      </div>
    </div>

    <div id="content">
      <%= show_flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
