<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
  <head>
    <title>CrossFit Baltimore - Check In Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= javascript_include_tag "application"%>
    <%= stylesheet_link_tag "application" %>
    <script type="text/javascript">
        $(document).on("keypress", "#ident", function(e) {
          if (e.which === 13) {
            $("#flash").hide();
            $("#flash").removeClass();
            $.ajax("/checkin.js",
                  {data: {ident: $("#ident").val()},
                    type: "POST",
                    beforeSend: function() {
                      $("#ident").addClass("loading");
                    }});
          }
        });
        $(document).on("click","button",function(e){
          $.ajax("/checkin.js",
          {data: {ident: $("#ident").val(),class_id: this.id},
            type: "POST",
          complete:function(){
            setTimeout(function(){location.reload(1);},4000);
          }});
        });
    </script>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="header">
      <div style="text-align: center">
        <div style="margin: 0 auto; width: 50%; height: 10%">
          <%=image_tag "logo1.png", style:"max-width:100%;max-height:100%"%>
        </div>
      </div>
    </div>
    <div style="text-align:center;padding-top: 5%">
      <div>
        <b style="color: whitesmoke;font-size: 25px">Check In using your Phone Number</b>
        <div style="padding-top:25px"><%=text_field_tag "ident"%></div>
      </div>
      <div id="class_div" style="display:none;color:whitesmoke;padding-top:10px;padding-bottom:20px"></div>
      <div id="flash" style="display:none;margin: 0 auto;width:60%"></div>
    </div>
  </body>
</html>
