$("#ident").removeClass("loading");
<%if @errors%>
  $("#flash").addClass("alert alert-error");
  $("#flash").html("<%=@errors.join(", ")%>");
  $("#flash").show();
<%end%>
<%if @success%>
  $("#flash").addClass("alert alert-success");
  $("#flash").html("<%=@success%>");
  $("#flash").show();
<%end%>
<%if @classes%>
  $("#class_div").append('<h4>Welcome back, <%=@client.first_name%> <%=@client.last_name%>!  Select a Class below.</h4>');
  <%@classes.each{|c|%>
  $("#class_div").append('<div class="class_container"><%=c.name%> - <%=c.start_date_time.strftime("%l:%M %p")%>  <%=button_tag "Register", :id=>"#{c.id}"%></div>');
  <%}%>
  $("#class_div").append('<div class="class_container"><%=button_tag "Cancel", :id=>"cancel_button"%></div>');
  $("#class_div").show();
<%end%>