<!DOCTYPE html>
<html>
  <head>
    <title>CrossFit Baltimore</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application"%>
    <script type="text/javascript">
      $(document).ready(function() {
        if (typeof document.createElement('input').checkValidity === 'function' &&
                Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0) {
          $("form").each(function() {
            $(this).attr("novalidate", "novalidate");
          });
        }
      });
    </script>
    <meta name="description"
          content="Crossfit Baltimore - Creating and inspiring a community of extraordinary people
          by challenging them to reach new levels of determination and perseverance through physical
          performance.  Conveniently located in Rosedale on Pulaski Highway (US 40).">
    <meta name="keywords" content="crossfit CrossFit Crossfit Baltimore Morisi Rosedale BMore bmore baltimore">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=454609657964653";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <div class="header">
      <div style="text-align: center">
        <div style="margin: 0 auto; width: 50%; height: 10%">
          <%=image_tag "logo1.png", :style=>"max-width:100%;max-height:100%"%>
        </div>
        <div class="mission"><i>"Creating and inspiring a community of extraordinary people by challenging them to
            reach new levels of determination and perseverance through physical performance."</i></div>
      </div>
    </div>
    <%= nav_bar(:responsive=>true) do%>
      <%= menu_group do%>
        <%= menu_item "Home", root_path %>
      <%end%>
      <%= menu_group do%>
        <%= drop_down "About CFB" do %>
          <%= menu_item "Location", "/about" %>
          <%= menu_item "What is CrossFit?", "/about#crossfit" %>
          <%= menu_item "Coaches", "/about#coaches" %>
        <%end%>
      <%end%>
      <%= menu_group do%>
        <%= drop_down "Start Here" do%>
          <%= menu_item "Get Started", "/start" %>
          <%= menu_item "Fundamentals", "/start#fundamentals"%>
          <%= menu_item "Schedule/Fees", "/start#schedule" %>
        <%end%>
      <%end%>
      <%= menu_group do %>
        <%= drop_down "Blogs" do %>
          <%= menu_item "Events", comfy_blog_posts_path("", "events") %>
          <%= menu_item "WOD Archive", comfy_blog_posts_path("","wod") %>
        <%end%>
      <%end%>
      <%= menu_group do %>
        <%= drop_down "Crossfit Open" do %>
          <%= menu_item "2015 Season", comfy_cms_render_page_url("open/2015-season") %>
        <%end%>
      <%end%>
      <%if current_user.admin?%>
        <%= menu_group do %>
          <%= drop_down "Admin" do %>
            <%= menu_item "Content Manager" , comfy_admin_cms_url %>
            <%= menu_item "MindBody",  "https://clients.mindbodyonline.com/ASP/home.asp?studioid=92604" %>
          <%end%>
        <%end%>
      <%end%>
      <%= menu_group(:pull=>"right") do %>
        <%= menu_item "Contact Us", "/contact" %>
        <%if current_user.logged?%>
          <%= drop_down "#{current_user.first} #{current_user.last}" do%>
            <%= menu_item "My Profile", profile_path %>
            <%= menu_item "Logout", logout_path %>
          <%end%>
        <%else%>
          <%= menu_item "Login/Register", signin_path %>
        <%end%>
      <% end %>
    <%end%>
    <div id="main">
      <div id="l_sidebar">
        <div style="padding-top: 5%; padding-bottom: 5%; width: 70%; text-align:center; margin: 0 auto; color: whitesmoke">Sign up, Get 1st class free</div>
        <table class="icons">
          <tbody>
            <tr>
              <td><a href="https://www.facebook.com/pages/CrossFit-Baltimore/634102939996107" title="Facebook"><%= image_tag "FB_Icon.svg"%></a></td>
              <td><a href="http://instagram.com/crossfitbaltimore/" title="Instagram"><%= image_tag "Instagram_Icon.svg"%></a></td>
              <td><a href="https://twitter.com/cfbaltimore"><%= image_tag "Twitter_Icon.svg"%></a></td>
            </tr>
          </tbody>
        </table>
        <div class="cfj">
          <a href="http://journal.crossfit.com/start.tpl?version=CFJ-white123x63"
             target="_blank"
             title="CrossFit Journal: The Performance-Based Lifestyle Resource">
            <img src="http://journal.crossfit.com/templates/images/white-125x63.png"
                 width="125px"
                 height="63px"
                 alt="CrossFit Journal: The Performance-Based Lifestyle Resource" />
          </a>
        </div>
      </div>
      <div id="content">
        <%= show_flash_messages %>
        <%= yield %>
      </div>
      <div id="r_sidebar">
          <h1 style="margin-top: 0px; color: whitesmoke">Events</h1>
          <!-- div for events -->
          <div style="padding-bottom: 5%; height: 200px"></div>
          
          <h1 style="color:whitesmoke">Athlete of the Month</h1>
          <!-- dive for athlete -->
          <div style="height: 200px"></div>
      </div>
    </div>
    <div class='footer'>
      <hr style="color:grey ">
      Address: Pulaski Hwy & 68th St., Baltimore, MD 21237 <br/>
      Phone: 410-866-1713 Email: <a href="mailto:staff@cfbaltimore.com">staff@cfbaltimore.com</a>
    </div>
    <script type="text/javascript">
      $(document).ready(function() {
        $(".navbar").affix({offset: {top: 200}});
      });
      var root = $("html,body");
      $('ul.dropdown-menu a').click(function() {
        var hash = this.hash;
        if (hash !== "") {
          root.animate({
            scrollTop: $(hash).offset().top - 80
          }, 500, function() {
            window.location.hash = hash;
          });
        }
        else {
          if (window.location.pathname === this.pathname)
            root.animate({
              scrollTop: $("#content").offset().top - 80
            }, 500);
        }
        $(".navbar .container .nav-collapse").collapse('hide');
      });
    </script>
    <div id='schedule_dialog'></div>
    <div id="ajax_loading">Loading...</div>
  </body>
</html>
